Repository Metropolitan-Council/ghg-cprg, pull requests merged in 2024-07, with the labels that each got.

#105 County state population time series
  .gitignore
  _meta/data-raw/census_county_population.R
  _meta/data-raw/cprg_county_population.R
  _meta/data-raw/cprg_county_proportions.R
  _meta/data-raw/emissions_compile_compare.R
  _meta/data-raw/epa_nei.R
  _meta/data-raw/state_population.R
  _meta/data/census_county_population.RDS
  _meta/data/census_county_population_meta.RDS
  _meta/data/cprg_county_carbon_stock.RDS
  _meta/data/cprg_county_emissions.CSV
  _meta/data/cprg_county_emissions.RDS
  _meta/data/cprg_county_proportions.RDS
  _meta/data/cprg_county_proportions_meta.RDS
  _meta/data/cprg_population.RDS
  _meta/data/cprg_population_meta.RDS
  _meta/data/inventory_2018.RDS
  _meta/data/sector_category.RDS
  _meta/data/state_population.RDS
  _meta/data/state_population_meta.RDS
  _transportation/_transportation.qmd
  _transportation/data-raw/dot_vmt.R
  _transportation/data-raw/epa_ghg_inventory.R
  _transportation/data-raw/epa_ghg_state.R
  _transportation/data-raw/epa_nei_ghg_inventory_compare.R
  _transportation/data-raw/epa_nei_transportation.R
  _transportation/data-raw/mndot/mndot_vmt_county.RDS
  _transportation/data-raw/mndot_vmt_county.R
  _transportation/data-raw/vmt_county_proportions.R
  _transportation/data-raw/wisdot/wisdot_vmt_county.RDS
  _transportation/data-raw/wisdot_vmt_county.R
  _transportation/data/dot_vmt.RDS
  _transportation/data/dot_vmt_meta.RDS
  _transportation/data/epa_nei.RDS
  _transportation/data_state_dot.qmd
  _waste/data-raw/2021_wi_data.R
  _waste/data-raw/wastewater/epa_state_wastewater.R
  _waste/data/epa_county_wastewater.RDS
  metcouncil-cprg-ghg.bib
  tests/test-census_county_population.R
  tests/test-cprg-population.R
  tests/test-dot_vmt.R
  tests/test-epa_county_wastewater.R
Labels: meta

#97 80 natural systems carbon stock 2005
  _nature/county_land_cover_sequestration_ns.R
  _nature/data-raw/nlcd_county_land_area_cover_calc.R
  _nature/data/county_landcover_sequestration_2021_meta.rds
  _nature/data/nlcd_county_landcover_2001_2021.rds
  _nature/data/nlcd_county_landcover_2001_2021_meta.rds
  _nature/data/nlcd_county_landcover_sequestration_2001_2021.rds
  _nature/data/nlcd_county_landcover_sequestration_2001_2021_meta.rds
  _nature/nlcd_county_land_cover_sequestration_ns.R
Labels: nature

#106 Wastewater estimates 2005-2021
  _waste/data-raw/wastewater/epa_state_wastewater_2005_2021.R
  _waste/data/epa_county_wastewater_2005_2021.RDS
  _waste/data/epa_county_wastewater_2005_2021_meta.RDS
Labels: waste_wastewater
